body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwki5MoI-tXjLPYnCI3qcCuDTND_huveSssk14Z8DZ0ixbc4btJwfQesZM&s=10);
  height: 100vh;
  background-size: auto;
  background-attachment: fixed;
  cursor: default;
}
#siktir {
  border-style: solid;
  border-right-color: blue;
  border-width: 5px;
  border-bottom-color: hotpink;
}
table {
  border-collapse: collapse;
}
th {
  border: solid;
}
td {
  border: solid;
  text-align: center;
}
div {
  background-color: brown;
}
span {
  background-color: aquamarine;
}
.big-text {
  font-size: 50px;
}
p {
  color: rgb(0, 102, 139);
  text-shadow: 10px 10px 10px;
  line-height: 50px;
  direction: ltr;
  text-align: center;
  text-decoration: overline red solid;
  letter-spacing: 10px;
  word-break: break-all;
  text-indent: 10px;
}

#link-stile {
  text-align: center;
  text-decoration: none;
  font-size: 50px;
  font-style: oblique;
  letter-spacing: 5px;
  word-break: normal;
  text-indent: 5px;
}

a {
  text-decoration: none;
}
a:link {
  background-color: darkseagreen;
  padding: 5px 5px;
  border-radius: 10px;
}
a:visited {
  color: rgb(74, 0, 103);
}
a:hover {
  color: black;
  background-color: rgb(255, 147, 147);
}
a:active {
  color: brown;
  background-color: fuchsia;
}
a:after {
  color: darkgreen;
}
img {
  width: 50%;
  height: auto;
  border-radius: 10px;
  opacity: blur(5px);
}
input[type="text"] {
  background-color: rgb(82, 83, 82);
}
input[type="text"]:focus {
  background-color: aquamarine;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
label {
  color: rgb(29, 40, 19);
}
select {
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: darkgrey;
  color: black;
  margin: 5px !important;
}
input[type="submit"] {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  margin: 10px;
  transition: 2s;
  transition-timing-function: ease-in-out;
  width: 100px;
  height: 25px;
  background-color: chocolate;
  border-radius: 5px;
  border: none;
  box-shadow: rgb(4, 113, 48) 0px 20px 30px -10px !important;
}
input[type="submit"]:hover {
  background-color: chartreuse;
  transition: 500ms;
  width: 150px;
  height: 50px;
}
input[type="submit"]:active {
  background-color: firebrick;
  transition: 0s;
}
input[type="reset"] {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  margin: 10px;
  transition: 2s;
  transition-timing-function: ease-in-out;
  width: 100px;
  height: 25px;
  background-color: chocolate;
  border-radius: 5px;
  border: none;
  box-shadow: rgb(113, 4, 4) 0px 20px 30px -10px !important;
}
input[type="reset"]:hover {
  background-color: rgb(255, 0, 0);
  transition: 500ms;
  width: 150px;
  height: 50px;
}
input[type="reset"]:active {
  background-color: firebrick;
  transition: 0s;
}
#dokme {
  width: 150px;
  height: 100px;
  background-color: black;
  text-align: center;
  border: none;
  border-radius: 10px;
  transition: 2s;
}
#dokme:hover {
  width: 250px;
  height: 150px;
  background-color: gray;
}
